.vtabs {
  display: table; }
  .vtabs .tabs-vertical {
    width: 180px;
    border-bottom: 0px;
    border-right: 1px solid #e9ecef;
    display: table-cell;
    vertical-align: top; }
    .vtabs .tabs-vertical li .nav-link {
      color: #343a40;
      margin-bottom: 10px;
      border: 0px;
      padding-left: 0px;
      border-radius: 0.25rem 0 0 0.25rem; }
  .vtabs .tab-content {
    display: table-cell;
    padding: 0 20px;
    vertical-align: top; }

.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link:hover,
.tabs-vertical li .nav-link.active:focus {
  background: #03a9f3;
  border: 0px;
  color: #fff; }

/*Custom vertical tab*/
.customvtab .tabs-vertical li .nav-link.active,
.customvtab .tabs-vertical li .nav-link:hover,
.customvtab .tabs-vertical li .nav-link:focus {
  background: #fff;
  border: 0px;
  border-right: 2px solid #03a9f3;
  margin-right: -1px;
  color: #03a9f3; }

.tabcontent-border {
  border: 1px solid #ddd;
  border-top: 0px; }

.customtab2 li a.nav-link {
  border: 0px;
  margin-right: 3px;
  color: #212529; }
  .customtab2 li a.nav-link.active {
    background: #03a9f3;
    color: #fff; }
  .customtab2 li a.nav-link:hover {
    color: #fff;
    background: #03a9f3; }
